name: tests

on:
  push:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Start containers
        run: |
          docker compose up -d --build
          docker ps -a
          sleep 20

      - name: Run tests
        run: |
          chmod +x ./run_tests.sh
          ./run_tests.sh
